---
layout: main
---
<article class="article-page">
  <div class="page-content">
    <div class="wrap-content legal-page">
      <header class="header-page">
        <h1 class="page-title">{{ page.title }}</h1>
        {% if page.updated %}
          <div class="page-date"><span>Última atualização: {{ page.updated }}</span></div>
        {% endif %}
      </header>
      {{ content | markdownify }}
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
